.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: rgb(254, 254, 254);
  border-radius: 10;
}
body {
  /* background-color: #fffaf3; */
}
.image-upload > input {
  display: none;
}
.overlay-image {
  position: relative; /* Important pour positionner le contenu par dessus, relatif à l'élément */
  display: inline-block; /* Prendra la forme de son contenu */
}

.overlay-image .image-page-create-article {
  vertical-align: middle; /* Ou display: block, pour enlever l'espace blanc */
}
.hover-image {
  border-radius: 4px;
}
.overlay-image .hover-image {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* Effets de transition */
  opacity: 0; /* On cache l'élément via son opacité */
  transition: opacity 0.25s ease-in-out; /* Effet de transition sur le hover */

  /* Style du contenu hover */
  background-color: rgba(68, 180, 231, 0.611); /* Couleur par défaut */
  color: #e95a0c;
  padding: 30px;

  /* Centrer le contenu */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.overlay-image:hover .hover-image {
  opacity: 1; /* Lors du hover, on remet l'opacité à 1 */
}
.consultation-cell {
  background-color: #e95a0c;
}

.operation-cell {
  background-color: #44b4e7;
}

.null-cell {
  background-color: red;
}
